.build
bin
dist
cabal-dev
.cabal-sandbox
cabal.sandbox.config
dist-newstyle/
cabal.project.local*
*.o
*.hi
*.chi
*.chs.h
*.lksh*
.virthualenv
.psci_modules/
.test_modules/
bower_components/
node_modules
tmp/
.stack-work/
output
tests/purs/docs/docs/
core-tests/full-core-docs.md
tests/support/package-lock.json
.psc-ide-port
.psc-package/
tags
TAGS

# Profiling related
*.aux
*.hp
*.prof
*.ps
*.svg
tests/purs/make/
