roots = [
  "^Main\\.main$",
  "^PscIdeSpec\\.main$",

  # These declarations are used in Pursuit. (The Types declarations are
  # reexported in the L.P.Docs module, and referenced from there, but Weeder
  # isn't that smart.)
  "^Language\\.PureScript\\.Docs\\.AsHtml\\.packageAsHtml$",
  "^Language\\.PureScript\\.Docs\\.Types\\.asUploadedPackage$",
  "^Language\\.PureScript\\.Docs\\.Types\\.getLink$",
  "^Language\\.PureScript\\.Docs\\.Types\\.getLinksContext$",
  "^Language\\.PureScript\\.Docs\\.Types\\.packageName$",
  "^Language\\.PureScript\\.Docs\\.Types\\.verifyPackage$",

  # These declarations are believed to be used in other projects that we want
  # to continue to support.
  "^Language\\.PureScript\\.CoreFn\\.FromJSON\\.moduleFromJSON$",
  "^Language\\.PureScript\\.CST\\.Print\\.printModule$",

  # These declarations are there to be used during development or testing.
  "^Language\\.PureScript\\.Ide\\.Imports\\.parseImport$",
  "^Language\\.PureScript\\.TypeChecker\\.Monad\\.debug",

  # These declarations are used by Template Haskell code.
  "^Language\\.PureScript\\.Constants\\.TH\\.",

  # These declarations are produced by Template Haskell when generating
  # pattern synonyms; this confuses Weeder.
  "^Language\\.PureScript\\.Constants\\..*\\.\\$[bm]",

  # These declarations are unprincipled exceptions that we don't mind
  # supporting just in case they're used now or in the future.
  "^Language\\.PureScript\\.CST\\.Parser\\.parseExpr$",

  # These declarations are generated by tools; it doesn't matter if they're
  # unused because we can't do anything about them.
  "^Language\\.PureScript\\.CST\\.Parser\\.happy",
  "^Paths_purescript?\\.",
]
type-class-roots = true
